body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.appHeader {
	text-align: center;
	color:white;
	background: #2980b9;
	background: linear-gradient(to right, #2980b9, #2c3e50);	
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 5px; 
}

.friendList {
	color:#4e4d4d;
	list-style: none;
	padding:0;
	margin-bottom:0;
}

.friendList li:hover {
	color:#62dbfb;
}

.listContainer {
	text-align: left;
	padding: 20px;
	margin:10px;
	max-width: 200px;
	background:lightgrey;
	background:linear-gradient(to bottom right, lightgrey, white);
}

.clearBoth {
	clear:both;
}

.searchBar input {
	width:95%;
	font-size: 1em;
}

.listContainer h2 {
	margin:10px 0;
}
